.mainpage{
    width: 100%;
    margin: auto;
    display: flex;
    overflow: hidden;
}


.mainpage__image{
    position: relative;
    min-width: 100%;
    height: 100vh;
}

.image_main{
    position: relative;
    min-height: 100vh;
    opacity: 0.3;
    min-width: 100vw;
}

@media (max-width: 1200px){
    .image_main{
        left: -0%;
    }
}

@media (max-width: 1024px){
    .image_main{
        left: -10%;
    }
}

@media (max-width: 562px){
    .image_main{
        left: -40%;
    }
}

@media (max-width: 362px){
    .image_main{
        left: -45%;
    }
}

.mainpage__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text__main{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: calc(14px + 24 * (100vw / 1440));
    text-align: center;
    padding: 20px;
}

@media(max-width: 767px){
    .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        top: 0;
        right: 0;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: right;
        cursor: pointer;
      }
      
      .hamburger-lines .line {
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
        transition: all ease 0.3s;
      }
      .menu__list{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #212121;
        background-image: url(/images/Rembrandt_Harmensz._van_Rijn_-_The_Return_of_the_Prodigal_Son.jpg);
        opacity: 1;
        padding: 30% 0px 30px 30%;
        transition: all 0.5s ease;
        transform: translate(-200%, 0);
      }
      .menu__list._active{
        transform: translate(0%, 0);
        transition: all 0.5s ease-in-out;
      }
      .menu__list > li{
        margin: 0px 0px 30px 0px;
        padding: 20px;
        
      }
      .menu__list > li:last-child{
        margin-bottom: 0;
      }
      .menu__link{
        font-size: 32px;
        text-align: center;
      }
      .hamburger-lines._active .line1{
        opacity: 0;
        transition: all ease 0.3s;
      }
      .hamburger-lines._active .line2{
        transform: rotate(45deg) translateY(8.5px);
        transition: all ease 0.3s;
      }
      .hamburger-lines._active .line3{
        transform: rotate(-45deg) translateY(-8.5px);
        transition: all ease 0.3s;
      }
}