@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Source+Sans+Pro:ital@0;1&display=swap');


.wrapper{
    background-color: #fff;
    max-width: 100%;
    overflow: hidden;
}

.mainpage{
    width: 60%;
    height: 100%;
    text-align: left;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.img-magnifier-container {
    position: relative;
    width: 100%;
}


.circle{
  position: absolute;
  width: 10%;
  height: 8%;
  transition: .3 all ease;
  box-sizing: border-box;
  border-radius: 100px;
  border: solid 2px rgb(232, 227, 227);
  z-index: 2;
  animation: bigger 1s ease alternate-reverse infinite;
  cursor: pointer;
}

.circle_woman{
    left: 56%;
    margin-top: 8%;
}

.circle_name{
    right: 5%;
    bottom: 23%;
}

@keyframes bigger {

    100%{
      width: 12%;
      height: 10%;
      border: solid 2px rgba(126, 82, 82);
    }
}

.circle:hover{
    transition: .2s;
    backdrop-filter: blur(1px);
}

.circle.hidden{
  display: none;
}

.hidden{
  display: none;
}


.gallery-image{
    margin: 2% 0;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}


  .img-magnifier-glass {
    position: absolute;
    width: 120px;
    height: 120px;
    transition: 50ms all ease;
    box-sizing: border-box;
    border-radius: 70px;
    background-size: contain;
    visibility: hidden;
    opacity: 0;
  }


.img-magnifier-container:hover .img-magnifier-glass{
    visibility: visible;
}

.footer-container{
    margin-top: 2%;
}

.glass-buttons{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.glass__button{
    width: 30%;
    height: 10vh;
    font-size: calc(10px + 12 * (100vw / 1440));
    word-wrap: break-word;
    transition: 0.4s all ease;
}

.glass__button_details:hover{
  background-color: rgb(238, 238, 238);
  box-shadow: none;
}

.glass__button:hover{
    background-color: rgb(241, 241, 157);
    box-shadow: -2px 2px 5px rgb(225, 197, 197);
}

@media (max-width: 1024px) {
  .mainpage{
    width: 70%;
  }
}
@media (max-width: 767px) {
  .mainpage{
      width: 80%;
  }
}
@media (max-width: 500px) {
  .mainpage{
      width: 90%;
  }
}

.popup__container{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease;
  transform: translate(0px, -100%);
}

.popup__body{
  display: flex;
  flex-direction: column;
  background-color: rgba(126, 82, 82);
  width: 50%;
  align-items: center;
  transition: all ease 0.8s;
}

.popup_close{
  align-self: flex-end;
  font-size: 32px;
  margin: 1% 2% 0 0;
  cursor: pointer;
}

.popup__text{
    color: black;
    font-size: 24px;
    width: 90%;
    line-height: 1.2;
}

.popup__image{
  width: 90%;
  display: block;
  margin: 2% auto;
}

.on{
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}


.shown{
    opacity: 1;
    cursor: none;
}

.active{
    background-color: rgb(241, 241, 157);
}

