.wrapper{
    background-color: #fff;
    max-width: 100%;
    overflow: hidden;
}

.second-image{
    margin: 2% 0;
    max-width: 80%;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}